<div class="video-section">

  <div class="video-wrapper">
    {% if section.settings.html5_video != blank %}
      <video class="video"
        {% if section.settings.image != blank %} poster="{{  section.settings.image | img_url: '1440x900', crop: 'center', format: 'pjpg' }}"{% endif %}
        {% if section.settings.autoplay %} autoplay playsinline{% endif %}
        {% if section.settings.mute_video %} muted{% endif %}
        {% if section.settings.autoloop %} loop{% endif %}
        {% if section.settings.show_controls %} controls{% endif %}
      >
        <source src="{{  section.settings.html5_video }}">
      </video>
    {% endif %}

  </div>
  
  {% render 'inc_banner_text' %}

</div>
