<link rel="stylesheet" href="{{ 'page.css' | asset_url }}" media="print" onload="this.media='all'">

<noscript>{{ 'page.css' | asset_url | stylesheet_tag }}</noscript>

<div class="inner narrow">
  <h1>
    {{ page.title | escape }}
  </h1>
  <div class="rte">
    {{ page.content }}
  </div>
</div>

{% schema %}
{
  "name": "t:sections.main-page.name",
  "tag": "section",
  "class": "basic-page spaced-section"
}
{% endschema %}
