<div class="multicolumn inner">
    <ul class="multicolumn grid">
      {%- for block in section.blocks -%}
        {%- include 'multi-column' -%}
      {%- endfor -%}
    </ul>
</div>

{% schema %}

{
"name": "t:sections.multicolumn.name",
"class": "multicolumn-section",
"tag": "section",
"settings": [
  
],
"blocks": [
  {
    "type": "column",
    "name": "t:sections.multicolumn.blocks.column.name",
    "settings": [
      {
        "type": "select",
        "id": "width",
        "options": [
          {
            "value": "half",
            "label": "Half"
          },
          {
            "value": "one_third",
            "label": "One Third"
          },
          {
            "value": "two_thirds",
            "label": "Two Thirds"
          }
        ],
        "default": "half",
        "label": "Column Width",
        "info": "applies mostly to desktop and tablets"
      },
      {
        "type": "image_picker",
        "id": "image",
        "label": "t:sections.multicolumn.blocks.column.settings.image.label"
      },
      {
        "type": "text",
        "id": "title",
        "default": "Column",
        "label": "t:sections.multicolumn.blocks.column.settings.title.label"
      },
      {
        "type": "text",
        "id": "subtitle",
        "default": "Under the stars in style",
        "label": "Subtitle"
      },
      {
        "type": "richtext",
        "id": "text",
        "default": "<p>Pair text with an image to focus on your chosen product, collection, or blog post. Add details on availability, style, or even provide a review.</p>",
        "label": "t:sections.multicolumn.blocks.column.settings.text.label"
      },
      {
        "type": "select",
        "id": "button_color",
        "options": [
          {
            "value": "white",
            "label": "White"
          },
          {
            "value": "red",
            "label": "Red"
          },
          {
            "value": "dark",
            "label": "Dark"
          }
        ],
        "default": "white",
        "label": "Button Colour",
        "info": "Choose the colour for the button"
      },
      {
        "type": "select",
        "id": "color_scheme",
        "options": [
          {
            "value": "white_text",
            "label": "White text"
          },
          {
            "value": "red_text",
            "label": "Red Text"
          },
          {
            "value": "dark_text",
            "label": "Dark Text"
          },
          {
            "value": "blue_text",
            "label": "Blue Text"
          }
        ],
        "default": "white_text",
        "label": "t:sections.image-banner.settings.color_scheme.label",
        "info": "t:sections.image-banner.settings.color_scheme.info"
      },
      {
        "type": "select",
        "id": "desktop_text_box_position",
        "options": [
          {
            "value": "start",
            "label": "Top"
          },
          {
            "value": "center",
            "label": "Middle"
          },
          {
            "value": "end",
            "label": "Bottom"
          },
          {
            "value": "between",
            "label": "space between"
          },
          {
            "value": "evenly",
            "label": "space evenly"
          },
          {
            "value": "around",
            "label": "space around"
          }
        ],
        "default": "center",
        "label": "Text position"
      },
      {
        "type": "select",
        "id": "text_align",
        "options": [
          {
            "value": "left",
            "label": "Left"
          },
          {
            "value": "center",
            "label": "Centre"
          },
          {
            "value": "right",
            "label": "Right"
          }
        ],
        "default": "center",
        "label": "Text alignment"
      },
      {
        "type": "text",
        "id": "button_label",
        "default": "Button label",
        "label": "t:sections.multicolumn.settings.button_label.label"
      },
      {
        "type": "url",
        "id": "button_link",
        "label": "t:sections.multicolumn.settings.button_link.label"
      }
    ]
  }
],
"presets": [
  {
    "name": "Multi Image Blocks",
    "blocks": [
      {
        "type": "column"
      },
      {
        "type": "column"
      },
      {
        "type": "column"
      }
    ]
  }
]
}


{% endschema %}
