.article-template__title {
  margin: 24px 0 32px 0;
  position: relative;
  text-align: center;
}

.article-template__title:after {
  content: " ";
  position: absolute;
  left: -16px;
  bottom: 0;
  width: calc(100% + 32px);
  display: block;
  height: 1px;
  background-color: var(--color-base-text);
}

.articlebody {
  position: relative;
  padding-bottom: 32px;
}

.articlebody:after {
  content: " ";
  position: absolute;
  left: -16px;
  bottom: 0;
  width: calc(100% + 32px);
  display: block;
  height: 1px;
  background-color: var(--color-base-text);
}

.article_footer {
  text-align: center;
  padding-top: 24px;
}

.article-template__link {
  position: relative;
  margin-top: 24px;
  padding-left: 48px;
}

.article-template__link .icon-wrap {
  transform: rotate(180deg);
  display: block;
  left: 15px;
  top: 15px;
  position: absolute;
}

.article-template .meta {
  font-size: 87.5%;
  margin: 16px 0;
  display: block;
}

.article-template__content {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.article-template__social-sharing {
  margin-top: 3rem;
  text-align: center;
}

.article-template__social-sharing .share-button {
  display: inline-block;
}

@media screen and (min-width: 750px) {
  .article-template__comment-wrapper {
    margin-top: 6rem;
  }
}

.article-template__comment-wrapper h2 {
  margin-top: 0;
}

.article-template__comments {
  margin-bottom: 5rem;
}

@media screen and (min-width: 750px) {
  .article-template__comments {
    margin-bottom: 7rem;
  }
}

.article-template__comments-fields {
  margin-bottom: 4rem;
}

.article-template__comments-comment {
  color: rgba(var(--color-foreground), 0.75);
  background-color: rgb(var(--color-background));
  margin-bottom: 1.5rem;
  padding: 2rem 2rem 1.5rem;
}

@media screen and (min-width: 750px) {
  .article-template__comments-comment {
    padding: 2rem 2.5rem;
  }
}

.article-template__comments-comment p {
  margin: 0 0 1rem;
}

.article-template__comment-fields > * {
  margin-bottom: 3rem;
}

@media screen and (min-width: 750px) {
  .article-template__comment-fields {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 4rem;
  }
}

.article-template__comment-warning {
  margin: 2rem 0 2.5rem;
}

@media screen and (min-width: 990px) {
  .article-template__comments .pagination-wrapper {
    margin: 5rem 0 8rem;
  }
}

