.shopify-section.collage {
  margin: 40px 0;
}

.flex.collage {
  align-content: flex-start;
}

@media screen and (min-width: 768px) {
  .flex.collage {
    gap: 48px;
  }
}

.flex.collage .col1,
.flex.collage .col2 {
  flex: 1 1 100%;
}

.flex.collage .col1 p,
.flex.collage .col2 p {
  margin: 0 0 16px 0;
}

@media screen and (min-width: 768px) {
  .flex.collage .col1,
  .flex.collage .col2 {
    flex-basis: calc(50% - 48px);
  }
}

.flex.collage .rte.large {
  font-size: 225%;
}

.flex.collage .buttons .button {
  width: 100%;
  margin-bottom: 16px;
}

.flex.collage .image {
  position: relative;
  margin-bottom: 16px;
}

.flex.collage .image img {
  display: block;
}

.absolute_buttons {
  position: absolute;
  z-index: 2;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  align-items: center;
  align-content: center;
}

