/* component-button */

/* Button - default */

.button,
.shopify-challenge__button,
.customer button {
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  font: inherit;
  padding: 10px 16px;
  text-decoration: none;
  border: 1px solid var(--color-base-text);
  border-radius: 0;
  background-color: transparent;
  color: var(--color-base-text);
  min-width: 10rem;
  transition: box-shadow var(--duration-short) ease;
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  font-family: var(--font-body-family);
  font-weight: 600;
}

@media screen and (min-width: 1024px) {
  .button,
  .shopify-challenge__button,
  .customer button {
    padding: 20px 24px;
  }
}

.button.pink,
.shopify-challenge__button.pink,
.customer button.pink {
  border: 1px solid var(--color-pink);
  color: var(--color-pink);
}

.button.reverse,
.color-white_text .button,
.shopify-challenge__button.reverse,
.color-white_text .shopify-challenge__button,
.customer button.reverse,
.color-white_text .customer button {
  border: 1px solid white;
  color: white;
}

.button.dark,
.color-dark_text .button,
.shopify-challenge__button.dark,
.color-dark_text .shopify-challenge__button,
.customer button.dark,
.color-dark_text .customer button {
  border: 1px solid var(--color-dark);
  color: var(--color-dark);
}

.button.button--tertiary,
.button.tertiary,
.shopify-challenge__button.button--tertiary,
.shopify-challenge__button.tertiary,
.customer button.button--tertiary,
.customer button.tertiary {
  background-color: var(--color-dark);
  border-color: var(--color-dark);
  color: white;
}

.button.primary,
.shopify-challenge__button.primary,
.customer button.primary {
  background-color: var(--color-foreground);
  color: white;
}

.button.small,
.shopify-challenge__button.small,
.customer button.small {
  padding: 6px 16px;
  font-size: 87.5%;
  min-width: 120px;
}

@media screen and (min-width: 1024px) {
  .button.small,
  .shopify-challenge__button.small,
  .customer button.small {
    padding: 10px 16px;
    font-size: 100%;
  }
}

.button:focus-visible {
  box-shadow: 0 0 0 0.1rem rgba(var(--color-button), var(--alpha-button-border)), 0 0 0 0.3rem rgb(var(--color-background)), 0 0 0.5rem 0.4rem rgba(var(--color-foreground), 0.3);
}

.button:focus {
  box-shadow: 0 0 0 0.1rem rgba(var(--color-button), var(--alpha-button-border)), 0 0 0 0.3rem rgb(var(--color-background)), 0 0 0.5rem 0.4rem rgba(var(--color-foreground), 0.3);
}

.button:focus:not(:focus-visible) {
  box-shadow: 0 0 0 0.1rem rgba(var(--color-button), var(--alpha-button-border));
}

.button::-moz-selection, .shopify-challenge__button::-moz-selection, .customer button::-moz-selection {
  background-color: rgba(var(--color-button-text), 0.3);
}

.button::selection,
.shopify-challenge__button::selection,
.customer button::selection {
  background-color: rgba(var(--color-button-text), 0.3);
}

.button,
.button-label,
.shopify-challenge__button,
.customer button {
  font-size: 100%;
  line-height: 22px;
}

.button.nude,
button.nude {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  background-color: transparent;
  padding: 8px 0;
  color: var(--color-foreground);
  border: 0;
  font-size: 100%;
  font-family: var(--font-body-family);
}

.button--small {
  padding: 1.2rem 2.6rem;
}

.button.dropdown,
button.dropdown {
  width: 100%;
  text-align: left;
  background-color: transparent;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='22' height='12'%3E%3Cpath fill='%23CA1E2A' fill-rule='nonzero' d='m20.6464466.64644661.7071068.70710678L11 11.7071068.64644661 1.35355339l.70710678-.70710678L11 10.293z'/%3E%3C/svg%3E");
  background-position: right center;
  background-repeat: no-repeat;
  border: none;
  padding: 8px 24px 8px 0;
}

/* Button - hover */

/* Button - other */

.button:disabled,
.button[aria-disabled=true],
.button.disabled,
.customer button:disabled,
.customer button[aria-disabled=true],
.customer button.disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.button--full-width {
  display: flex;
  width: 100%;
}

.button.loading {
  color: transparent;
  position: relative;
}

@media screen and (forced-colors: active) {
  .button.loading {
    color: rgb(var(--color-foreground));
  }
}

.button.loading > .loading-overlay__spinner {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  height: 100%;
  display: flex;
}

/* Button - social share */

.share-button {
  display: block;
  position: relative;
}

.share-button details {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.share-button__button {
  font-size: 1.4rem;
  display: flex;
  min-height: 2.4rem;
  align-items: center;
  color: rgb(var(--color-link));
  margin-left: 0;
  padding-left: 0;
}

details[open] > .share-button__fallback {
  -webkit-animation: animateMenuOpen var(--duration-default) ease;
          animation: animateMenuOpen var(--duration-default) ease;
}

.share-button__button:hover {
  text-decoration: none;
}

.share-button__button,
.share-button__fallback button {
  cursor: pointer;
  background-color: transparent;
  border: none;
  font-family: var(--font-heading-family);
  font-size: 78.25%;
}

.share-button__button:hover .icon-share,
.share-button__fallback button:hover .icon-share {
  filter: blur(1px);
}

.share-button__button .icon-share {
  margin-right: 4px;
}

.share-button__fallback {
  background: rgb(var(--color-background));
  position: absolute;
  top: 3rem;
  right: 0.1rem;
  z-index: 3;
  width: 300px;
  min-width: 200px;
  box-shadow: 0 2px 8px -2px rgba(var(--color-dark), 0.15);
}

.share-button__fallback .flex {
  padding: 8px 8px 0 8px;
  flex-wrap: nowrap;
}

.share-button__fallback .flex .field {
  flex: 1 1 60%;
  flex-basis: calc(100% - 40px);
}

.share-button__fallback .flex .field input[type=text] {
  font-size: 87.5%;
}

.share-button__fallback button {
  padding: 0;
  width: 40px;
  height: 40px;
  flex: 0 0 40px;
  padding: 8px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.share-button__fallback button:hover {
  color: rgba(var(--color-foreground), 0.75);
}

.share-button__fallback button:hover svg {
  transform: scale(1.07);
}

.share-button__close:not(.hidden) + .share-button__copy {
  display: none;
}

.share-button__close,
.share-button__copy {
  background-color: transparent;
  color: rgb(var(--color-foreground));
}

.share-button__fallback .field__input {
  box-shadow: none;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.share-button__fallback .icon {
  width: 1.5rem;
  height: 1.5rem;
}

.share-button__message:not(:empty) {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  margin-top: 0;
  padding: 0;
  font-size: 87.5%;
  height: 40px;
}

.share-button__message:not(:empty):not(.hidden) ~ * {
  display: none;
}

.resp-sharing-button__link,
.resp-sharing-button__icon {
  display: inline-block;
}

.resp-sharing-button__link {
  text-decoration: none;
  color: #fff;
  margin: 0.5em;
}

.resp-sharing-button {
  transition: 25ms ease-out;
  padding: 0.5em 0.75em;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}

.resp-sharing-button__icon svg {
  width: 1em;
  height: 1em;
  margin-right: 0.4em;
  vertical-align: top;
}

.resp-sharing-button--small svg {
  margin: 0;
  vertical-align: middle;
}

/* Non solid icons get a stroke */

.resp-sharing-button__icon {
  stroke: #fff;
  fill: none;
}

/* Solid icons get a fill */

.resp-sharing-button__icon--solid,
.resp-sharing-button__icon--solidcircle {
  fill: #fff;
  stroke: none;
}

.resp-sharing-button--twitter {
  background-color: #55acee;
}

.resp-sharing-button--twitter:hover {
  background-color: #2795e9;
}

.resp-sharing-button--pinterest {
  background-color: #bd081c;
}

.resp-sharing-button--pinterest:hover {
  background-color: #8c0615;
}

.resp-sharing-button--facebook {
  background-color: #3b5998;
}

.resp-sharing-button--facebook:hover {
  background-color: #2d4373;
}

.resp-sharing-button--tumblr {
  background-color: #35465C;
}

.resp-sharing-button--tumblr:hover {
  background-color: #222d3c;
}

.resp-sharing-button--reddit {
  background-color: #5f99cf;
}

.resp-sharing-button--reddit:hover {
  background-color: #3a80c1;
}

.resp-sharing-button--google {
  background-color: #dd4b39;
}

.resp-sharing-button--google:hover {
  background-color: #c23321;
}

.resp-sharing-button--linkedin {
  background-color: #0077b5;
}

.resp-sharing-button--linkedin:hover {
  background-color: #046293;
}

.resp-sharing-button--email {
  background-color: #777;
}

.resp-sharing-button--email:hover {
  background-color: #5e5e5e;
}

.resp-sharing-button--xing {
  background-color: #1a7576;
}

.resp-sharing-button--xing:hover {
  background-color: #114c4c;
}

.resp-sharing-button--whatsapp {
  background-color: #25D366;
}

.resp-sharing-button--whatsapp:hover {
  background-color: #1da851;
}

.resp-sharing-button--hackernews {
  background-color: #FF6600;
}

.resp-sharing-button--hackernews:hover,
.resp-sharing-button--hackernews:focus {
  background-color: #FB6200;
}

.resp-sharing-button--vk {
  background-color: #507299;
}

.resp-sharing-button--vk:hover {
  background-color: #43648c;
}

.resp-sharing-button--facebook {
  background-color: #3b5998;
  border-color: #3b5998;
}

.resp-sharing-button--facebook:hover,
.resp-sharing-button--facebook:active {
  background-color: #2d4373;
  border-color: #2d4373;
}

.resp-sharing-button--twitter {
  background-color: #55acee;
  border-color: #55acee;
}

.resp-sharing-button--twitter:hover,
.resp-sharing-button--twitter:active {
  background-color: #2795e9;
  border-color: #2795e9;
}

.resp-sharing-button--pinterest {
  background-color: #bd081c;
  border-color: #bd081c;
}

.resp-sharing-button--pinterest:hover,
.resp-sharing-button--pinterest:active {
  background-color: #8c0615;
  border-color: #8c0615;
}

.resp-sharing-button--linkedin {
  background-color: #0077b5;
  border-color: #0077b5;
}

.resp-sharing-button--linkedin:hover,
.resp-sharing-button--linkedin:active {
  background-color: #046293;
  border-color: #046293;
}

.resp-sharing-button--whatsapp {
  background-color: #25D366;
  border-color: #25D366;
}

.resp-sharing-button--whatsapp:hover,
.resp-sharing-button--whatsapp:active {
  background-color: #1DA851;
  border-color: #1DA851;
}

input,
textarea {
  font-size: 16px;
  line-height: 24px;
  color: var(--color-foreground);
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: rgba(var(--color-lightpink-rgb), 0.3);
  border: none;
  padding: 8px;
  width: 100%;
}

select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: transparent;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='22' height='12'%3E%3Cpath fill='%23CA1E2A' fill-rule='nonzero' d='m20.6464466.64644661.7071068.70710678L11 11.7071068.64644661 1.35355339l.70710678-.70710678L11 10.293z'/%3E%3C/svg%3E");
  background-position: right center;
  background-repeat: no-repeat;
  border: none;
  padding: 8px 24px 8px 0;
  margin: 0;
  width: 100%;
  color: var(--color-foreground);
  font-family: inherit;
  font-size: inherit;
  cursor: inherit;
  line-height: inherit;
  font-size: 16px;
  line-height: 24px;
  outline: none;
  width: 100%;
}

label {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 24px;
  display: block;
}

.contact img {
  max-width: 100%;
}

.contact .form__message {
  align-items: flex-start;
}

.contact .icon-success {
  margin-top: 0.2rem;
}

.contact .field {
  margin-bottom: 1.5rem;
}

@media screen and (min-width: 750px) {
  .contact .field {
    margin-bottom: 2rem;
  }
}

.contact__button {
  margin-top: 3rem;
}

@media screen and (max-width: 480px) {
  .contact__button button {
    width: 100%;
  }
}

.contact__fields {
  margin-top: 24px;
}

@media screen and (min-width: 750px) {
  .contact__button {
    margin-top: 4rem;
  }
}

.grecaptcha-badge {
  visibility: hidden;
}

.field {
  margin-bottom: 12px;
}

.field.flex label {
  flex: 1 0 30%;
}

.field.flex input,
.field.flex textarea {
  flex: 0 1 65%;
}

.pattern_01 {
  background: url("//cdn.shopify.com/s/files/1/0597/5991/9299/t/2/assets/pattern_01.jpg?453") center center repeat;
}

.pattern_02 {
  background: url("//cdn.shopify.com/s/files/1/0597/5991/9299/t/2/assets/pattern_02.jpg?453") center center repeat;
}

.pattern_03 {
  background: url("//cdn.shopify.com/s/files/1/0597/5991/9299/t/2/assets/pattern_03.jpg?453") center center repeat;
}

.pattern_04 {
  background: url("//cdn.shopify.com/s/files/1/0597/5991/9299/t/2/assets/pattern_01.jpg?453") center center repeat;
}

.text_banner {
  text-align: center;
  padding: 16px 24px;
}

.text_banner a {
  display: block;
}

.text_banner p {
  font-size: 150%;
  margin: 0;
  font-weight: 700;
}

.text_banner p strong {
  font-weight: 800;
}

.image-with-text {
  margin-top: 40px;
}

.image-with-text img {
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
}

@media screen and (min-width: 880px) {
  .image-with-text {
    gap: 32px;
  }
}

.image-with-text .image {
  grid-column: span 3;
  position: relative;
}

@media screen and (min-width: 880px) {
  .image-with-text .image {
    grid-column: 1/3;
    grid-row: 1/1;
  }
}

.image-with-text .text {
  height: 100%;
  grid-column: span 3;
}

@media screen and (max-width: 480px) {
  .image-with-text .text .button {
    width: 100%;
  }
}

.image-with-text .text .flex {
  height: 100%;
  align-items: center;
  align-content: center;
  justify-content: flex-start;
}

.image-with-text .text h2 {
  margin: 16px 0 8px;
}

@media screen and (min-width: 768px) {
  .image-with-text .text h2 {
    margin: 0;
    margin-bottom: 8px;
  }
}

@media screen and (min-width: 880px) {
  .image-with-text .text {
    grid-column: 3/3;
    grid-row: 1/1;
  }
}

@media screen and (min-width: 880px) {
  .image-with-text.switch .text {
    grid-column: 1/2;
  }
}

@media screen and (min-width: 880px) {
  .image-with-text.switch .image {
    grid-column: 2/4;
  }
}

.text_wrap {
  position: absolute;
  top: 16px;
  left: 16px;
  right: 16px;
  bottom: 16px;
  z-index: 2;
}

.text_wrap h2,
.text_wrap h3,
.text_wrap .h2,
.text_wrap .h3 {
  font-weight: 700;
}

.text_wrap span {
  flex: 1 1 100%;
}

@media screen and (min-width: 880px) {
  .text_wrap {
    top: 32px;
    left: 32px;
    right: 32px;
    bottom: 32px;
  }
}

.multicolumn.grid {
  grid-template-columns: repeat(6, minmax(0, 1fr));
  list-style-type: none;
  margin: 40px 0 0 0;
  padding: 0;
}

.column {
  position: relative;
  grid-column: span 6;
}

.column .image {
  position: relative;
  z-index: 1;
  height: 100%;
  width: 100%;
}

.column .image img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.column .button {
  margin-top: 16px;
}

.column .button.red {
  border-color: var(--color-red);
  color: var(--color-red);
}

.column h2,
.column h3,
.column h4,
.column p,
.column .buttons {
  flex: 1 1 100%;
}

.column h2,
.column h3 {
  font-weight: 700;
}

@media screen and (min-width: 768px) {
  .column.half {
    grid-column: span 3;
  }

  .column.one_third {
    grid-column: span 2;
  }

  .column.two_thirds {
    grid-column: span 4;
  }
}

.featured_blog {
  position: relative;
  overflow-x: scroll;
}

.featured_blog .scroller-inner {
  position: relative;
  z-index: 2;
  flex-wrap: nowrap;
  align-items: flex-end;
  padding: 62px 16px;
}

@media screen and (min-width: 768px) {
  .featured_blog .scroller-inner {
    padding: 24px;
  }
}

.featured_blog .scroller-inner.amount-2 {
  min-width: 860px;
}

@media screen and (min-width: 768px) {
  .featured_blog .scroller-inner.amount-2 {
    min-width: 1636px;
  }
}

.featured_blog .scroller-inner.amount-3 {
  min-width: 1180px;
}

@media screen and (min-width: 768px) {
  .featured_blog .scroller-inner.amount-3 {
    min-width: 2062px;
  }
}

.featured_blog .scroller-inner.amount-4 {
  min-width: 1500px;
}

@media screen and (min-width: 768px) {
  .featured_blog .scroller-inner.amount-4 {
    min-width: 2398px;
  }
}

.featured_blog .scroller-inner.amount-5 {
  min-width: 1860px;
}

@media screen and (min-width: 768px) {
  .featured_blog .scroller-inner.amount-5 {
    min-width: 2734px;
  }
}

.featured_blog .scroller-inner.amount-6 {
  min-width: 2140px;
}

@media screen and (min-width: 768px) {
  .featured_blog .scroller-inner.amount-6 {
    min-width: 3060px;
  }
}

.featured_blog-section {
  position: relative;
  overflow: hidden;
  margin-top: 40px;
  padding: 50px 0;
  padding-left: 24px;
}

.background_img {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 0;
  right: 0;
  bottom: 0;
}

.background_img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.card {
  flex: 1 0 300px;
  width: 300px;
  max-width: 300px;
  max-height: 400px;
  position: relative;
  overflow: hidden;
}

@media screen and (min-width: 768px) {
  .card {
    flex-basis: 406px;
    width: 406px;
    max-width: 406px;
  }
}

.card a {
  color: var(--color-dark);
}

.card.main_card {
  flex: 1 0 200px;
  min-width: 200px;
  align-self: center;
}

@media screen and (min-width: 768px) {
  .card.main_card {
    flex-basis: 700px;
    min-width: 700px;
    height: 684px;
  }
}

.card.main_card h2,
.card.main_card div {
  max-width: 494px;
  margin: 0 auto;
  color: var(--color-dark);
}

.card picture {
  display: block;
  position: relative;
  z-index: 1;
}

.card picture img {
  display: block;
}

.card header {
  position: absolute;
  z-index: 2;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 16px;
}

.card:nth-child(3n+1) header {
  background-color: rgba(var(--color-yellow-rgb), 0.8);
}

.card:nth-child(3n+2) header {
  background-color: rgba(var(--color-pink-rgb), 0.8);
}

.card:nth-child(3n+3) header {
  background-color: rgba(var(--color-red-rgb), 0.8);
}

.featured_blog-section .featured_blog {
  scrollbar-color: #666 #201c29;
  -webkit-overflow-scrolling: touch;
  display: block;
  overflow-x: scroll;
  position: relative;
  z-index: 2;
}

.featured_blog-section .featured_blog::-webkit-scrollbar {
  width: 2px;
  height: 2px;
  background-color: white;
  /* or add it to the track */
}

.featured_blog-section .featured_blog::-webkit-scrollbar-thumb {
  background: var(--color-red);
  border-radius: 1px;
}

.featured_blog-section .featured_blog::-webkit-scrollbar-track {
  background: white;
}

.insta-section {
  margin: 40px 0 40px 0;
  position: relative;
}

.insta-section .button {
  margin-top: 24px;
}

@media screen and (min-width: 600px) {
  .insta-section .button {
    margin-top: 32px;
  }
}

.insta-section .insta {
  position: relative;
  z-index: 2;
  opacity: 1;
}

.insta-section h2,
.insta-section p.subtitle {
  text-align: center;
}

.insta-section p.subtitle {
  font-size: 106.25%;
  margin-bottom: 32px;
}

.insta-section .instagramification {
  grid-template-columns: 1fr 1fr;
  gap: 0;
}

@media screen and (min-width: 600px) {
  .insta-section .instagramification {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (min-width: 960px) {
  .insta-section .instagramification {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.insta-section .instagramification .block {
  padding: 0;
  margin: 0;
  position: relative;
}

.insta-section .instagramification .block a {
  display: block;
}

.insta-section .instagramification .block img {
  display: block;
  transition: opacity 0.3s ease;
}

.insta-section .instagramification .block .cite {
  font-style: normal;
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 8px;
  text-align: center;
}

.hover .insta-section .instagramification .block .cite {
  transition: opacity 0.3s ease;
  opacity: 0;
}

.insta-section .instagramification .block .cite a {
  color: var(--color-dark);
}

.hover .insta-section .instagramification .block:hover .cite {
  opacity: 1;
}

.insta-section .instagramification .block:nth-child(5n+1) .cite {
  background-color: rgba(var(--color-red-rgb), 0.8);
}

.insta-section .instagramification .block:nth-child(5n+2) .cite {
  background-color: rgba(var(--color-pink-rgb), 0.8);
}

.insta-section .instagramification .block:nth-child(5n+3) .cite {
  background-color: rgba(var(--color-lightpink-rgb), 0.8);
}

.insta-section .instagramification .block:nth-child(5n+4) .cite {
  background-color: rgba(var(--color-yellow-rgb), 0.8);
}

.insta-section .instagramification .block:nth-child(5n+5) .cite {
  background-color: rgba(var(--color-green-rgb), 0.8);
}

.text_and_icons-section {
  margin: 80px 0;
}

.text_and_icons ul {
  list-style-type: none;
  margin: 0;
  padding: 24px 0;
}

@media screen and (min-width: 768px) {
  .text_and_icons ul {
    padding: 40px 0;
  }
}

.text_and_icons.background-lines ul {
  border-top: 1px solid var(--color-foreground);
  border-bottom: 1px solid var(--color-foreground);
}

.ti_column {
  flex: 1 1 100%;
}

@media screen and (min-width: 480px) {
  .ti_column {
    flex-basis: 200px;
  }
}

@media screen and (min-width: 768px) {
  .ti_column {
    flex-basis: 340px;
  }
}

.ti_column .column_card {
  position: relative;
}

.ti_column a {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
}

.newsletter-section {
  padding: 24px;
  margin-top: 32px;
  background-color: var(--color-green);
  position: relative;
}

@media screen and (min-width: 768px) {
  .newsletter-section {
    padding: 40px;
    margin-top: 58px;
  }
}

.newsletter-section:after {
  content: " ";
  height: 7px;
  display: block;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14' height='7'%3E%3Cpath fill='%238DC687' fill-rule='evenodd' d='m7 0 7 7H0z'/%3E%3C/svg%3E");
  background-repeat: repeat-x;
  left: 0;
  right: 0;
  top: -7px;
  position: absolute;
}

.newsletter {
  justify-content: space-between;
  align-items: center;
  padding: 24px;
  border: 1px solid white;
}

.newsletter input {
  background-color: white;
}

@media screen and (min-width: 768px) {
  .newsletter {
    padding: 40px;
  }
}

.newsletter .quote {
  flex: 0 1 100%;
  color: white;
}

.newsletter .quote blockquote p {
  color: white;
}

@media screen and (min-width: 768px) {
  .newsletter .quote {
    flex-basis: 50%;
  }
}

.newsletter .quote cite {
  border-color: white;
}

.newsletter .signup {
  color: var(--color-dark);
  flex: 0 1 100%;
}

@media screen and (min-width: 768px) {
  .newsletter .signup {
    flex-basis: 40%;
  }
}

.newsletter .signup h2.h3 {
  font-size: 212.5%;
  color: var(--color-dark);
  margin-bottom: 16px;
}

@media screen and (min-width: 768px) {
  .newsletter .signup h2.h3 {
    max-width: 320px;
  }
}

@media screen and (min-width: 768px) {
  .newsletter .signup .rte {
    max-width: 360px;
  }
}

.newsletter .signup button {
  margin-top: 16px;
}

.shopify-section.text {
  max-width: 615px;
  margin-top: 40px;
  margin-bottom: 40px;
}

@media screen and (min-width: 768px) {
  .shopify-section.text {
    margin-top: 80px;
    margin-bottom: 80px;
  }
}

